<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <% if @action == 'created' || @action == 'updated' %>
        <h1 class="text-center">The Category has been <%= @action %> successfully</h1>
      <% else %>
        <h1 class="text-center">Category Information</h1>
      <% end %>

      <p><strong>Name:</strong> <%= @category.name %></p>
      <p><strong>Description:</strong> <%= @category.description %></p>
      <p><strong>Created At:</strong> <%= @category.created_at %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "New Category", new_category_path %> -
      <%= link_to "All Categories", categories_path %>
    </div>
  </div>
</div>
